<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile style="text-align: center; vertical-align: top;">
        <div id="welcome"><h1><p>Welcome!<br></p></h1>
        <div id='welcome-content' style="padding-left: 10px; padding-right: 10px; "><h3>This is a test site as of right now. I will be trying to implement more features in order to learn more about Angular and calling APIs</h3></div></div>
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
